@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --background: #131415;
  --box: #252525;
  --box-shadow: #010207;
  --letras: #ffffff;
  --btn-degrade-start: #ffa100;
  --btn-degrade-end: #fb103d;
}

body {
  background: var(--background);
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 30px;
}

.navbar-list {
  color: var(--letras);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.logo {
  width: 76px;
  height: 79px;
}

.carrito-y-noti{
  position: relative;

}

.noti{
  position: absolute;
  bottom:15px;
  left: 10px;
  width: 60%;
  height: 60%;
}

.carrito-y-noti p{
  position: absolute;
  bottom:10px;
  left: 13px;
  font-size: 12px;
  font-weight: 200;
}


li img {
  height: 20px;
  width: 19px;
  margin-right: 5px;
  border-radius: 0px;
  margin-bottom: -4px;
}

li img {
  cursor: pointer;
}

li a {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  font-weight: 300;
}

li a:hover {
  cursor: pointer;
}

.home {
  vertical-align: middle;
}

main {
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#presentation {
  margin-top: 3px;
  padding: 160px 110px 0px 0px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: auto;
  height: 70px;
}

.zappi-info {
  color: var(--letras);
  width: 40%;
  padding: 5px;
}

.zappi-info h1 {
  width: 603px;
  font-weight: 700;
  font-size: 66px;
}

.zappi-info h2 {
  width: 639px;
  font-weight: 700;
  font-size: 51px;
  margin-bottom: 10px;
}

.zappi-info p {
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 45px;
}

.zappi-info a {
  color: var(--letras);
  background: linear-gradient(to right, #ffa100, #fb103d);
  width: 166px;
  height: 50px;
  padding: 15px 40px;
  border-radius: 16px;
  font-size: 13px;
  text-align: center;
}

.zappi-pizzas {
  width: 400px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pizza-uno {
  position: absolute;
  width: 265px;
  height: 265px;
  position: relative;
  margin-left: 200px;

  right: 80px;
}

.pizza-dos {
  position: absolute;
  width: 392px;
  height: 392px;
  left: 200px;
  bottom: 0px;
}
